// Layout

@max-main: 560px;
@min-aside: 320px;
@max-aside: (5 * 80px);
@max-gap: 80px;

@min-ad: (236px + 20px);
@min-sharing: 160px;


// Just for a change, the topbar size depends on teh height of the viewport not its width

@topbar-ht-1: 720px;
@topbar-ht-2: 960px;

.topbar-mg() {
    @media (max-height: @topbar-ht-1) {
        margin-top: 60px;
    }
    @media (min-height: (@topbar-ht-1 + 1px)) and (max-height: @topbar-ht-2) {
        margin-top: 120px;
    }
    @media (min-height: (@topbar-ht-2 + 1px)) {
        margin-top: 240px;
    }
}


// Style

@hl-clr: #B0A;
@lo-clr: #123;

@normal-wt: 400;
@bold-wt: 700;

.body-fnt-1() {
    font-family: "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    letter-spacing: 0.002em;

    .wf-firasans-n4-active & {
        font-family: "Fira Sans", sans-serif;
    }
}

.hl-fnt-1() {
    font-family: "Times New Roman", "Times", serif;
    font-weight: 700;
    letter-spacing: (-0.5em / 32);  // -0.5px at 32px seems to be about right

    .wf-alegreya-n7-active & {
        font-family: "Alegreya", serif;
        letter-spacing: inherit;
    }
}


.contains-its-floats() {
    &:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
    }
}

.lnk {
    &:link {
        color: (darken(@hl-clr, 10%, relative));
    }
    &:visited {
        color: (darken(@hl-clr, 20%, relative));
    }
    &:hover,
    &:active {
        color: @hl-clr;
    }
}

.a-tags-are-links() {
    a {
        .lnk;
    }
}
