
@import "defs.less";

.share-links {
    .contains-its-floats;

    // background-color: fade(@lo-clr, 5%);
    border-top: 1px solid  fade(@lo-clr, 5%);


    li {
        float: left;
        margin: 10px;
    }

}
