
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    color: #442;
    
    font-family: "Helvetica", "Arial", sans-serif;
}

#intro,
#logo,
#content {
    width: 960px;
    margin: 2em auto;
}

#intro p {
    font-size: 1.2em;
    margin: 1.25em 10px;
}

.after {
    clear: both;
}

#content {
}

#content p {
    margin: 0 10px 1.25em;
}

#content li {
    margin: 0.625em 10px 0.625em 30px ;
}

#content h2 {
    font-size: 1.2em;
    
    margin: 0 10px;
}

#content .one-third {
    width: 320px;
    float: left;
}

#hide-svg {
    clear: both;
    width: 960px;
    padding: 1.25em 0;
    margin: 0 auto;
}

#hide-svg p {
    font-size: 0.75em;
    margin: 0 10px;
}
