<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Damian Cugley</title>
        <!--[if lt IE 9]>
             <script src="html5shiv.js"></script>
        <![endif]-->
        <link href="{% static "style/whyhello.css" %}"  rel="stylesheet" type="text/css">

        <link rel="openid.server" href="http://www.livejournal.com/openid/server.bml" />
        <link rel="openid.delegate" href="http://damiancugley.livejournal.com/" />

        <link rel="alternate" type="application/atom+xml" href="{% url blog_atom %}" />
    </head>
    <body>
        <header>
            <h1>Damian Cugley</h1>
        </header>
        <div id="main">
            <section id="about">
                <div class="intro">
                    <p>
                        An Australian web developer living and working in Oxford, England.
                    </p>
                </div>
                <div class="latest">
                    <p>
                        As well as commercial work, I have built several side projects for the fun of it, such as:
                    </p>

                    <ul>
                        <li>
                            <p>
                                <a href="http://caption.org/">CAPTION</a> is Oxford’s annual comics convention, and I designed and built its website.
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="http://jigsawr.org/">Jigsawr</a> is an instant virtual jigsaw creator, originally
                                created as a entry in a 10K website contest.
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="http://kanbo.me.uk/">Kanbo</a> is a work-in-progress task board for agile project management.
                            </p>
                        </li>
                    </ul>
                    <p>
                        My current favourite web-development framework is Django.
                    </p>
                </div>
                <aside id="photo">
                    <img src="{% static "pdc/2012/cracked-440w.jpeg" %}" alt="" width="220" height="220">
                </aside>
            </section>
            <section id="articles">
                <h2>Alleged Articles</h2>
                <div class="intro">
                    <p>
                        I occasionally write articles on technical stuff.
                    <p>
                </div>
                <div class="latest">
                    <p>The most recent one is:</p>
                    <h3> <a href="{{ entry.href }}">{{ entry.title }}</a></h3>
                    <dl>
                        <dt>Summary</dt>
                        <dd><p>{{ entry.summary|safe }}</p></dd>
                        <dt>Published</dt>
                        <dd>{{ entry.published|date:"j F Y" }}</dd>
                        <dt>Topics</dt>
                        <dd>
                            {% for tag in entry.tags %}
                                <a href="{% url blog_tag plus_separated_tags=tag %}">{{ tag }}</a>
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
                <div class="archive">
                    <h3>Archives by Year</h3>
                    <ul>
                        {% for year_e in years %}
                        <li>
                            <a href="{{ year_e.href }}">{{ year_e.published.year }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section id="elsewhere">
                <h2>More from Damian</h2>
                <div class="intro">
                    <p>Latest updates on other sites</p>
                </div>
                <div class="latest">
                    <ul>
                        <li>
                            <h3>
                                Code on <a id="github-link" href="http://github.com/pdc">GitHub</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Photos on <a id="flickr-link" href="http://www.flickr.com/photos/pdc/">Flickr</a>
                            </h3>
                            <p>
                                (and also <a href="/albums/">Ancient Photo Albums</a>)
                            </p>
                        </li>
                        <li>
                            <h3>
                                Diary on <a id="livejournal-link" href="http://damiancugley.livejournal.com/">LiveJournal</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Tweets on <a id="twitter-link" href="http://twitter.com/damiancugley">Twitter</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Links on <a id="tumblr-link" href="http://pdc.tumblr.com/">Tumblr</a>
                            </h3>
                        </li>
                    </ul>
                </div>
                <aside>
                </aside>
            </section>
        </div>
        <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/whyhello.js" %}"></script>
    </body>
</html>