-i https://pypi.org/simple
alabaster==0.7.12
asgiref==3.2.7
babel==2.8.0
bcrypt==3.1.7
blessings==1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
django-environ==0.4.5
django==3.0.6
docutils==0.16
enum34==1.1.10
fabric==1.14.1
httplib2==0.18.0
idna==2.9
imagesize==1.2.0
invocations==1.4.0
invoke==1.4.1
jinja2==2.11.2
markdown==2.6.11
markupsafe==1.1.1
packaging==20.4
paramiko==2.7.1
pycparser==2.20
pygments==2.6.1
pynacl==1.3.0
pyparsing==2.4.7
pytz==2018.4
releases==1.6.3
requests==2.23.0
semantic-version==2.6.0
six==1.15.0
snowballstemmer==2.0.0
sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
tabulate==0.7.5
tqdm==4.46.0
urllib3==1.26.5
