<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
<html lang="en-GB">
  <head>
    <title>{% block title %}{% endblock %} - Snaptioner - Alleged Literature</title>
    <link rel="stylesheet" type="text/css" href="{% static "style/base.css" %}">
  </head>
  <body class="snaptioner {% block classes %}has-sidebar{% endblock %}">
    <div id="top">
      <h1>{% block heading %}Albums{% endblock %}</h1>
    </div>
    <div id="middle">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      {% block sidebar %}
      <div id="nav">
        {% block localnav %}
        {% endblock %}

        <div id="other-albums">
          <h2>Other albums</h2>
          <ul>
            {% for other in albums %}
            <li>
              {% ifequal other.name album.name %}
              <strong>
                <b>{{ album.title }}</b>
                <span>({{ album|length }} photos)</span>
              </strong>
              {% else %}
              <a href="{% url album_detail album_name=other.name %}">
                <b>{{ other.title }}</b>
                <span>({{ other|length }} photos)</span>
              </a>
              {% endifequal %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endblock %}
    </div>
    {% block javascript %}{% endblock %}
  </body>
</html>