/*
* Warm grey: #B6AFA2;
* #DBD7D0 00 paler version
* Cool grey: #6B7281
* Cool grey dark #35383F
*/

@font-face {
    font-family: 'GentiumBookBasicRegular';
    src: url('gentium/GenBkBasR.eot');
    src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('gentium/GenBkBasR.woff') format('woff'), url('gentium/GenBkBasR.ttf') format('truetype'), url('gentium/GenBkBasR.svg#GentiumBookBasic') format('svg');
}

@font-face {
    font-family: 'GentiumBookBasicItalic';
    src: url('gentium/GenBkBasI.eot');
    src: local('Gentium Book Basic'), local('GentiumBookBasic-Italic'), url('gentium/GenBkBasI.woff') format('woff'), url('gentium/GenBkBasI.ttf') format('truetype'), url('gentium/GenBkBasI.svg#GentiumBookBasic-Italic') format('svg');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 1.25;

    background: #EEF;
    background-color: #DBD7D0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #6B7281;
}
a:hover,
a:active {
    color: #C30;
    border-color: #C30;
}


header {
    display: block;
    width: 100%;
    background: #182834 url(banners/banner-2008-12-26.jpeg) left 50% no-repeat;
    border-bottom: 4px solid #123;
}

header h1 {
    font-size: 3em;
    padding: 1em 20px 0.75em;

    font-family: "Gibson-Light", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: 100;
    color: #FFF;
    text-shadow: #000 1px 1px 2px;
}

.has-slideshow {
    position: relative;
    margin: -2.5em auto 20px;
    overflow: hidden;
}

.slideshow {
    position: absolute;
}

.has-slideshow nav {
    position: absolute;
    top: 5px;
    left: 40px;
}

nav span {
    font-size: 0.8125em;
    display: block;
    float: left;
    margin: 10px;

    font-weight: 600;
    color: #35383F;
    cursor: pointer;
}

nav span.sel {
    color: #000;
    margin-top: 5px;
    border-top: 3px solid #C30;
    padding-top: 2px;
}

.scrolling {
    width: 960px;
    margin: -2.5em auto 20px;
}

.scrolling,
.slideshow section {
    padding: 4em 10px 20px;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    /*
    border: 1px solid #FFF;
    box-shadow: rgba(54, 57, 65, 0.5) 1px 1px 3px;
    border-radius: 2px;
    */
}

/* Comment this section out in production!
.scrolling,
.slideshow section {
    background-image: url(grid-even.png);
    background-position: 50% 50%;
}

.units-9 .scrolling,
.units-9 .slideshow section,
.units-15 .scrolling,
.units-15 .slideshow section  {
    background-image: url(grid-odd.png);
}
/**/

.slide {
    float: left;
}

.main:after {
    display: block;
    clear: both;
    content: '.';
    height: 0;
    overflow: hidden;
}

.main p {
    font-family: GentiumBookBasicRegular, serif;
}

.slideshow section {
    float: left;
    margin: 0 30px;
    width: 960px;
}

.scrolling section {
    float: left;
    width: 960px;
    margin: 0 0 2em;
}

section h2 {
    font-size: 1.4em;
    margin: 0 10px 0.5em;

    font-family: "Gibson-SemiBold", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}

/* Layout of the contents of a section */

.units-15 section h2,
.units-18 section h2 {
    float: left;
    margin: 0 10px;
}
.units-15 section h2 {
    width: 220px;
}
.units-18 section h2 {
    width: 220px;
}

section>div {
    float: left;
}

.intro,
.units-9 #about .intro {
    width: 160px;
}
#about .intro,
.units-18 .intro {
    width: 240px;
}

.units-15 #about .intro {
    font-size: 1.375em;
    width: 320px;
}

.units-18 #about .intro {
    font-size: 1.375em;
    width: 480px;
}

.latest {
    width: 560px;
}

#about .latest {
    width: 480px;
}

.units-6 .latest,
.units-9 #about .latest {
    width: 320px;
}
.units-15 #about .latest{
    width: 560px;
    font-size: 1.25em;
}

.units-18 .latest,
.units-18 #about .latest  {
    width: 640px;
    font-size: 1.25em;
}

aside,
.archive {
    float: right;
    width: 240px;
}

.units-6 aside,
.units-9 .archive {
    float: left;
    margin: 1.25em 0 0 160px;
}

aside#photo {
    margin-top: -2.5em;
}

.units-6 aside#photo {
    margin-top: 0;
}


#about .intro p {
    font-family: inherit;
    font-weight: 300;
    font-family: "Gibson-Light", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 1.25em;
}
.units-9 #about .intro p {
    font-size: 1.0625em;
    font-weight: 400;
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

aside#photo img {
    display: block;
    margin:  0 10px;
    box-shadow: rgba(54, 57, 65, 0.75) 1px 1px 2px;
}


section p,
section li {
    margin: 0 10px 0.6125em;
}

section li.loaded {
    margin-bottom: 1.25em;
}


#elsewhere h3 {
    margin: 0 ;
    font-size: 1em;
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
}
#elsewhere h4 {
    margin: 0.5em 0 ;
    font-size: 0.8125em;
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
}
#elsewhere small {
    display: block;
    float: left;
    width: 60px;
    margin: 0.5em 20px 1.5em 0;
    font-size: 0.6875em;
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
.latest li article p {
    font-size: 0.8125em;
    margin: 0.5em 0 1.5em 80px; /* adding 30px to allow for overlapping icon */
}

.latest li  p.twitter {
    font-size: 0.8125em;
    margin: 0.5em 0 1.5em 110px; /* adding 30px to allow for overlapping icon */
}
p.twitter img {
    display: block;
    float: left;
    margin: 0.25em 6px 0.5em -30px;
    width: 24px;
    height: 24px;
}

.latest li  p.flickr {
    font-size: 0.8125em;
    margin: 0.5em 0 1.5em 10px;
}
p.flickr img {
    /* Images are 75x75 but we show them half size; in the retinatastic fugure this will make sense */
    display: block;
    float: left;
    width: 37.5px;
    height: 37.5px;
    margin: 0 2.5px 2.5px 0;
}

.details .gravatar {
    display: none;
}

.latest li li {
    margin: 0 0 0.3125em 80px;
}

.latest li li img {
    vertical-align: middle;
}

.details li div,
.details blockquote {
    display: inline;
}

.details code {
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 0.8125em;
}
.details blockquote {
    font-family: GentiumBookBasicRegular, serif;
    font-size: 0.8125em;
}


section h3 {
    font-size: 1.2em;
    margin: 0 10px 0.5em;
}

section .archive h3 {
    font-size: 1em;
}

section dl {
    font-size: 0.8125em;
    margin: 1.5em 0 0 0;
    padding: 0;
}

section dt {
    float: left;
    width: 60px;
    margin: 0 10px 0.613em;
}

section dd {
    float: left;
    width: 460px;
    margin: 0 10px 0.613em;
}

.units-18 section dd {
    width: 540px;
}

section dd p {
    font-size: 1.23em;
    margin: 0;
}

.archive ul {
    font-size: 0.8125em;
    margin: 0 5px;
    padding: 0;
}

.archive li {
    float: left;
    width: 30px;
    margin: 0.2em 5px;
    list-style-type: none;
}

.archive li:first-child {
    margin-left: 45px;
}

.latest ul {
    margin: 0;
    padding: 0;
}

.latest li {
    margin:  0 10px 0.3125em;
    list-style-type: none;
}

.latest li p {
    margin: 0;
}

section .more {
    font-family: "Gibson-Regular", "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 0.8125em;
}

/* We use media queries to adjust for screen size in scrolling case.
    In Slideshow mode, the JavaScript takes care of resizing stuff. */
@media screen and (max-width: 1080px) {
    .scrolling section,
    .scrolling {
        width: 720px; /* 9u */
    }
}