
@font-face {
    font-family: 'GentiumBookBasicRegular';
    src: url('gentium/GenBkBasR.eot');
    src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('gentium/GenBkBasR.woff') format('woff'), url('gentium/GenBkBasR.ttf') format('truetype'), url('gentium/GenBkBasR.svg#GentiumBookBasic') format('svg');
}

@font-face {
    font-family: 'GentiumBookBasicItalic';
    src: url('gentium/GenBkBasI.eot');
    src: local('Gentium Book Basic'), local('GentiumBookBasic-Italic'), url('gentium/GenBkBasI.woff') format('woff'), url('gentium/GenBkBasI.ttf') format('truetype'), url('gentium/GenBkBasI.svg#GentiumBookBasic-Italic') format('svg');
}

@font-face {
    font-family: 'GentiumBookBasicBold';
    src: url('gentium/GenBkBasB.eot');
    src: local('Gentium Book Basic'), local('GentiumBookBasic-Bold'), url('gentium/GenBkBasB.woff') format('woff'), url('gentium/GenBkBasB.ttf') format('truetype'), url('gentium/GenBkBasB.svg#GentiumBookBasic-Bold') format('svg');
}

@font-face {
    font-family: 'GentiumBookBasicBoldItalic';
    src: url('gentium/GenBkBasBI.eot');
    src: local('Gentium Book Basic'), local('GentiumBookBasic-BoldItalic'), url('gentium/GenBkBasBI.woff') format('woff'), url('gentium/GenBkBasBI.ttf') format('truetype'), url('gentium/GenBkBasBI.svg#GentiumBookBasic-BoldItalic') format('svg');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 1.25;

    background: #EEF;
}

header {
    background: #182834 url(banners/banner-2008-12-26.jpeg) left 50% no-repeat;
    border-bottom: 4px solid #123;
}

header h1 {
    font-size: 3em;
    font-weight: 100;
    padding: 1em 20px 0.75em;

    color: #FFF;
    text-shadow: #000 1px 1px 2px;
}

#main {
    width: 960px;
    margin: -2.5em auto 20px;
    padding: 3em 10px 20px;

    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFF;
}

#main:after {
    clear: both;
    content: '.';
    height: 0;
    overflow: hidden;
}

#main p {
    font-family: GentiumBookBasicRegular;
}

section {
    float: left;
    margin: 0;
    padding: 0.75em 0;
    width: 960px;
}

section h2 {
    font-size: 1.4em;
    margin: 0 10px 0.5em;
}

section>div {
    float: left;
}

.intro {
    width: 160px;
}

.latest {
    width: 480px;
}

#articles .latest {
    width: 560px;
}

aside,
.archive {
    float: right;
    width: 240px;
}

aside#photo {
    margin-top: -2.5em;
}

section p,
section li {
    margin: 0 10px 0.61125em;
}

section h3 {
    font-size: 1.2em;
    margin: 0 10px 0.5em;
}

section .archive h3 {
    font-size: 1em;
}

section dl {
    font-size: 0.8125em;
    margin: 1.5em 0 0 0;
    padding: 0;
}

section dt {
    float: left;
    width: 60px;
    margin: 0 10px 0.613em;
}

section dd {
    float: left;
    width: 460px;
    margin: 0 10px 0.613em;
}

section dd p {
    font-size: 1.23em;
    margin: 0;
}

.archive ul {
    font-size: 0.8125em;
    margin: 0 5px;
    padding: 0;
}

.archive li {
    float: left;
    width: 30px;
    margin: 0.2em 5px;
    list-style-type: none;
}

.archive li:first-child {
    margin-left: 45px;
}

.latest ul {
    margin: 0;
    padding: 0;
}

.latest li {
    margin:  0 10px 0.3125em;
    list-style-type: none;
}

.latest li p {
    margin: 0;
}

section .more {
    font-family:  "Neue Haaz Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 0.8125em;
}