<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-GB">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>{% block title %}Blog Entry{% endblock %}</title>
  	<meta name="author" content="Damian Cugley">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}style/blog.css" />
  	{% block meta %}{% endblock %}
  </head>
  <body>
    {% block projectwonderfuljs %}
    <!-- Project Wonderful Ad Box Loader -->
    <!-- Put this after the <body> tag at the top of your page -->
    <script type="text/javascript">
       (function(){function pw_load(){
          if(arguments.callee.z)return;else arguments.callee.z=true;
          var d=document;var s=d.createElement('script');
          var x=d.getElementsByTagName('script')[0];
          s.type='text/javascript';s.async=true;
          s.src='//www.projectwonderful.com/pwa.js';
          x.parentNode.insertBefore(s,x);}
       if (window.attachEvent){
        window.attachEvent('DOMContentLoaded',pw_load);
        window.attachEvent('onload',pw_load);}
       else{
        window.addEventListener('DOMContentLoaded',pw_load,false);
        window.addEventListener('load',pw_load,false);}})();
    </script>
    <!-- End Project Wonderful Ad Box Loader -->
    {% endblock %}
    {% block flattrjs %}
<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&uid=pdc&language=en_GB&category=text';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>
    {% endblock %}

    <div id="banner">
      {% block trail %}
      <b><a href="{% url blog_entry %}">Damian Cugley’s Alleged Articles</a></b>
      {% endblock %}
      <h1>{% block heading %}Blog Entry{% endblock %}</h1>
    </div>
    <div id="page">
      {% block content %}
      {% endblock %}
      <div id="page-after"></div>
    </div>
    {% block trailingjs %}{% endblock %}
  </body>
</html>
