{% extends "blog/base.html" %}
{% load markup %}

{% block meta %}
	<link rel="alternate" type="application/atom+xml" href="{% url blog_atom %}" />
{% endblock %}

{% block projectwonderfule %}{% endblock %}

{% block title %}{{ entry.title }} - Alleged Articles{% endblock %}
{% block heading %}{{ entry.title }}{% endblock %}

{% block content %}
    {% include "blog/parts/entry.div" %}
    {% include "blog/parts/project-wonderful.div" %}
    {% include "blog/parts/entry-nav.div" %}
{% endblock %}
