{% extends "blog/base.html" %}
{% block title %}{{ plus_separated_tags }} - Browse by tag - Alleged Articles{% endblock %}
{% block heading %}Browse by tag{% endblock %}

{% block content %}
    <div id="tags">
      <div id="tags-specified">
        <h2>Selected tags</h2>
        <ul>
          {% for info in matching_entries.selected_tag_infos %}
          <li>
            {% if info.href %}
            <a href="{{ info.href }}"><i>{{ info.tag }}</i> x</a>
            {% else %}
            <i>{{ info.tag }}</i>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% if matching_entries.available_tag_infos %}
      <div id="tags-available">
        <h2>Available tags</h2>
        <ul>
          {% for info in matching_entries.available_tag_infos %}
          <li>
            <a href="{{ info.href }}"><i>{{ info.tag }}</i> ({{ info.count }})</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div id="matching-entries">
      <h2>{{ matching_entries|length }} Matching Entr{{ matching_entries|pluralize:"y,ies" }}</h2>
      <ul>
        {% for entry in matching_entries %}
        <li>
          <a href="{{ entry.href }}">‘{{ entry.title }}’ <small>{{ entry.published|date:"j N Y" }}</small></a>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}