{% extends "blog/base.html" %}
{% load markup %}

{% block meta %}
    {# OpenID links should be set via config, obviously. If I ever want this to be reusable. #}
	<link rel="openid.server" href="http://www.livejournal.com/openid/server.bml" />
	<link rel="openid.delegate" href="http://damiancugley.livejournal.com/" />

	{# Link to Atom feed. #}
	<link rel="alternate" type="application/atom+xml" href="{% url blog_atom %}" />
{% endblock %}

{% block title %}Damian Cugley’s Alleged Articles{% endblock %}
{% block heading %}Damian Cugley’s Alleged Articles{% endblock %}
{% block trail %}
{% endblock %}

{% block content %}
    <section id="flow">
        {% include "blog/parts/entry.div" %}
    </section>

    {% include "blog/parts/project-wonderful.div" %}

    <aside id="flattr">
        <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
href="http://www.alleged.org.uk/pdc/"></a>
    </aside>

    {% include "blog/parts/entry-nav.div" %}

    <aside id="exits">
        <h2>Elsewhere</h2>
        <nav>
            <ul>
                <li><a id="tumblr-link" href="http://pdc.tumblr.com/">Tumblr</a></li>
                <li><a id="delicious-link" href="http://www.delicious.com/pdc">Delicious</a></li>

                <li><a id="twitter-link" href="http://twitter.com/damiancugley">Twitter</a></li>
                <li><a id="livejournal-link" href="http://damiancugley.livejournal.com/">LiveJournal</a></li>

                <li><a id="flickr-link" href="http://www.flickr.com/photos/pdc/">Flickr</a></li>
                <li><a id="github-link" href="http://github.com/pdc">GitHub</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}

{% block trailingjs %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/blog-dash.js"></script>
{% endblock %}
