{% extends "blog/base.html" %}
{% load markup %}
{% block title %}{{ entry.published|date:"F Y" }} - Alleged Articles{% endblock %}
{% block heading %}{{ entry.published|date:"F Y" }}{% endblock %}

{% block content %}
      <div id="entry-list">
    		{% if this_month %}
      	  {% for e in this_month %}
    		  <h2><a href="{{ e.href }}" rel="prev">{{ e.title }}</a></h2>

          <div class="entry-list-entry-info">
            {% if e.image %}
            <img src="{{ e.image.src }}" alt="" />
            {% endif %}
            <div class="date">
              <span class="date-day">{{ e.published|date:"j"}}</span>
              <span class="date-month">{{ e.published|date:"F"}}</span>
            </div>
            <!-- <div class="permalink"><a href="{{ e.href }}">Permalink</a></div> -->
          </div>
          {{ e.summary|safe }}

			    {% endfor %}
			  {% else %}
			  <p>No article in this month.</p>
			  {% endif %}
      </div>

      <div id="entry-nav">
        <h2>Other Months</h2>
        <ul>
          {% with prev as e %}
            {% if e %}
            <li>
              <a href="{% url blog_month year=e.published|date:"Y",month=e.published|date:"m" %}" rel="prev"><span>Older:</span>
               {{ e.published|date:"N Y"}}</a>
            </li>
            {% endif %}
          {% endwith %}
          {% with next as e %}
            {% if e %}
            <li>
              <a href="{% url blog_month year=e.published|date:"Y",month=e.published|date:"m" %}" rel="next"><span>Newer:</span>
               {{ e.published|date:"N Y"}}</a>
            </li>
            {% endif %}
          {% endwith %}
        </ul>
    		{% if years %}
      	<h3>Article Archive by Month</h3>
      	<ul id="years">
      	  {% for e in years %}
          <li>
      	    {% ifequal e.published.year entry.published.year %}
            <h4>{{ e.published|date:"Y"}}</h4>
            <ul>
              {% for month, e in this_year_months %}
              <li>
                {% ifequal month entry.published.month %}
                   <strong>{{ e.published|date:"N" }}</strong>
               {% else %}
                  <a href="{% url blog_month year=e.published|date:"Y",month=e.published|date:"m" %}">{{ e.published|date:"N" }}</a>
                {% endifequal %}
              </li>
              {% endfor %}
            </ul>
      	    {% else %}
              <a href="{% url blog_month year=e.published|date:"Y",month=e.published|date:"m" %}">{{ e.published|date:"Y"}}</a>
            {% endifequal %}
          </li>
			    {% endfor %}
			  </ul>
			  {% endif %}
      </div>
{% endblock %}