<!DOCTYPE html>
{% load static %}
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog Entry{% endblock %}</title>
        <meta name="author" content="Damian Cugley">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="viewport" content="initial-scale=1.0">
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Alegreya:700:latin',
                        'Fira+Sans:400,400italic,500,700:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>
    	<link rel="stylesheet" type="text/css" href="{% static 'style/min.css' %}" />

{% block meta %}
{% endblock %}
    </head>
    <body>
        <div class="forme">
            <main>
{% block main %}
{% endblock %}
            </main>
            <aside>
                <nav id="topbar" class="topbar">
                    <ul>
                        <li class="topbar-home">
                            <a href="{% url 'why_hello_im' %}" class="link-subtle">Alleged Articles</a>
                        </li>
                        <li class="topbar-byline">
                            by <a href="{% url 'why_hello_im' %}" class="link-subtle">Damian Cugley</a>
                        </li>
                    </ul>
                </nav>
{% block aside %}
{% endblock %}
            </aside>
{% block trailingjs %}
{% endblock %}
    </body>
</html>
