{% extends "blog/base.html" %}
{% load static %}

{% block morestyle %}
    <link rel=stylesheet href="{% static 'style/nav2022.css' %}">
{% endblock %}


{% block meta %}
	<link rel="alternate" type="application/atom+xml" href="{% url 'blog_atom' %}">
  {% for link in entry.links %}
    <link rel="{{ link.rel }}" href="{{ link.url }}"
      {% if link.type %}type="{{ link.type }}"{% endif %}
      {% if link.title %}title="{{ link.title }}"{% endif %}
      {% if link.hreflang %}hreflang="{{ link.hreflang }}"{% endif %}
      {% if link.media %}media="{{ link.media }}"{% endif %}
    >
  {% endfor %}
{% endblock %}


{% block title %}{{ entry.title }} - Alleged Articles{% endblock %}


{% block main %}
    {% include "blog/parts/entry.div.html" %}
{% endblock %}


{% block aside %}

    {% if syndication_links %}
                <div class="syndication">
                    <h2>Boost, like, or reply to this article</h2>
                    <p class="syndication-hint">
                        Respond to this article on
        {% if syndication_links|length > 1 %}
                        one of these social networks:
        {% else %}
                        {{ syndication_links.0.silo.label }}:
        {% endif %}
                    </p>
                    <ul class="syndication-list">
        {% for link in syndication_links %}
                        <li>
                          <a href="{{ link.url }}" rel="syndication" class="u-syndication syndication-link syndication-link-{{ link.silo.tag }}">{{ link.silo.label }}</a>
                        </li>
        {% endfor %}
                    </ul>
                </div>
    {% endif %}

                <div class="share-links">
                   <h2>Share this article</h2>
                   <ul>
                       <li class="share-link">
                           <a href="https://twitter.com/intent/tweet?text={{ entry.summary }}&amp;url=http://alleged.org.uk{{ entry.href }}&amp;via=damiancugley"
                           class="twitter-share-button" data-lang="en">Tweet</a>
                       </li>
                    </ul>
                </div>


                <nav>
                    <h2>Article navigator</h2>
    {% include "blog/parts/entry-nav.div.html" %}
                </nav>
{% endblock %}


{% block trailingjs %}
    <script type=module src="{% static 'js/nav2022.js' %}"></script>
{% endblock %}
