{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ entry.published|date:"F Y" }} - Alleged Articles{% endblock %}

{% block morestyle %}
    <link rel=stylesheet href="{% static 'style/nav2022.css' %}">
{% endblock %}

{% block main %}
        <div class="archive-listing-section">
            <h1>{{ entry.published|date:"F Y" }}</h1>

    {% if this_month %}
        {% for e in this_month %}
            <article class="archive-listing">
            {% if e.image %}
                <img src="{{ e.image.src }}" alt="" class="archive-listing-avatar">
            {% endif %}
                <h2><a href="{{ e.href }}" class="link-subtle">{{ e.title }}</a></h2>

                {{ e.summary|safe }}

                <footer>
                    <time datetime="{{ e.published|date:'c' }}">{{ e.published|date:"j F" }}</time>
                </footer>
            </article>
        {% endfor %}
  {% else %}
            <p>No article in this month.</p>
  {% endif %}
      </div>
  {% endblock %}

  {% block aside %}

                <nav >
                    <h2>Month navigator</h2>


    {% for year_nav in nav.years %}
                    <details{% if year_nav.open %} open{% endif %} class="nav2022">
                        <summary>{{ year_nav.year }}</summary>
                        <ul>
        {% for month_nav in year_nav.months %}
                            <li>
            {% if month_nav.open %}
                                <strong>{{ month_nav.label }}</strong>
            {% else %}
                                <a href="{% url 'blog_month' year=year_nav.year month=month_nav.month %}">{{ month_nav.label }}</a>
            {% endif %}
                            </li>
        {% endfor %}
                    </details>
    {% endfor %}


                </nav>
{% endblock %}
