{% extends "blog/base.html" %}
{% block title %}{{ entry.published|date:"F Y" }} - Alleged Articles{% endblock %}

{% block main %}
        <div class="archive-listing-section">
            <h1>{{ entry.published|date:"F Y" }}</h1>

    {% if this_month %}
        {% for e in this_month %}
            <article class="archive-listing">
            {% if e.image %}
                <img src="{{ e.image.src }}" alt="" class="archive-listing-avatar">
            {% endif %}
                <h2><a href="{{ e.href }}" class="link-subtle">{{ e.title }}</a></h2>

                {{ e.summary|safe }}

                <footer>
                    <time datetime="{{ e.published|date:'c' }}">{{ e.published|date:"j F" }}</time>
                </footer>
            </article>
        {% endfor %}
  {% else %}
            <p>No article in this month.</p>
  {% endif %}
      </div>
  {% endblock %}

  {% block aside %}

                <nav id="entry-nav" class="entry-nav">
                    <h2>Other Months</h2>
                    <ul>
    {% with prev as e %}
        {% if e %}
                        <li class="entry-nav-nextprev">
                            <b>Older</b>
                            <a href="{% url 'blog_month' year=e.published|date:'Y' month=e.published|date:'m' %}" rel="prev">{{ e.published|date:"F Y"}}</a>
                        </li>
        {% endif %}
    {% endwith %}
    {% with next as e %}
        {% if e %}
                        <li class="entry-nav-nextprev">
                            <b>Newer</b>
                            <a href="{% url 'blog_month' year=e.published|date:'Y' month=e.published|date:'m' %}" rel="next">{{ e.published|date:"F Y"}}</a>
                        </li>
        {% endif %}
    {% endwith %}
                    </ul>

    {% if years %}
                    <h2>Article Archive by Month</h2>
                    <ul>

        {% for e in years %}
            {% if e.published.year == entry.published.year %}
                        <li class="entry-nav-year-active">
                            <b>{{ entry.published|date:"Y" }}</b>
                            <ul>
                {% for month, e in this_year_months %}
                    {% if month == entry.published.month %}
                                <li class="entry-nav-month-active">
                                    <b>{{ e.published|date:"F" }}</b>
                                </li>
                    {% else %}
                                <li class="entry-nav-month">
                                    <a href="{% url 'blog_month' year=e.published|date:'Y' month=e.published|date:'m' %}">{{ e.published|date:"N" }}</a>
                                </li>
                    {% endif %}
                {% endfor %}
                            </ul>
            {% else %}
                        <li class="entry-nav-year">
                            <a href="{% url 'blog_month' year=e.published|date:"Y" month=e.published|date:"m" %}">{{ e.published|date:"Y"}}</a>
                        </li>
            {% endif %}
        {% endfor %}
		  </ul>
    {% endif %}
      </div>
{% endblock %}
