body,
html {
  margin: 0;
  padding: 0;
}
.intro {
  max-width: 630px;
  margin: 24px auto;
}
.intro p {
  margin: 1.25em 15px;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.25em;
}
.credits {
  min-width: 250px;
  max-width: 630px;
  margin: 20px 15px;
  margin: 0 auto;
}
.credits p {
  margin: 1.25em 15px;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.25em;
}
.card p {
  font-family: "Fanwood Text", serif;
}
.number {
  font-size: 160px;
  line-height: 180px;
  text-align: center;
  height: 180px;
}
.number-1 {
  font-family: "Alegreya";
  font-weight: 900;
  color: #cc0000;
  background-color: #f5cca3;
}
.number-2 {
  font-family: "Fanwood Text";
  color: #cccc00;
  background-color: #ccf5a3;
}
.number-3 {
  font-family: "Diplomata";
  color: #00cc00;
  background-color: #a3f5cc;
}
.number-4 {
  font-family: "Arbutus";
  font-weight: 900;
  color: #00cccc;
  background-color: #a3ccf5;
}
.number-5 {
  font-family: "Abril Fatface";
  color: #0000cc;
  background-color: #cca3f5;
}
.number-6 {
  font-family: "Fira Sans";
  font-weight: 500;
  color: #cc00cc;
  background-color: #f5a3cc;
}
.card-list {
  margin: 0 auto;
  padding: 0;
}
.card-list:after {
  content: "";
  display: block;
  clear: left;
  height: 0;
  overflow: hidden;
}
.card-list > li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
@media (max-width: 379px) {
  .card-list {
    max-width: 230px;
  }
  .card-list > li {
    width: 100%;
  }
}
@media (min-width: 380px) and (max-width: 569px) {
  .card-list {
    max-width: 460px;
  }
  .card-list > li {
    width: 50%;
  }
  .card-list > li:nth-of-type(2n + 1) {
    clear: left;
  }
}
@media (min-width: 570px) {
  .card-list {
    max-width: 690px;
  }
  .card-list > li {
    width: 33.33333333%;
  }
  .card-list > li:nth-of-type(3n + 1) {
    clear: left;
  }
}
.card {
  margin: 15px;
}
