
@font-face {
	font-family: 'MisoLight';
	src: url('miso/miso-light.eot');
	src: local('Miso'), local('Miso-Light'), url('miso/miso-light.woff') format('woff'), url('miso/miso-light.ttf') format('truetype'), url('miso/miso-light.svg#Miso-Light') format('svg');
}

@font-face {
	font-family: 'MisoRegular';
	src: url('miso/miso.eot');
	src: local('Miso'), local('Miso'), url('miso/miso.woff') format('woff'), url('miso/miso.ttf') format('truetype'), url('miso/miso.svg#Miso') format('svg');
}

@font-face {
	font-family: 'MisoBold';
	src: url('miso/miso-bold.eot');
	src: local('Miso'), local('Miso-Bold'), url('miso/miso-bold.woff') format('woff'), url('miso/miso-bold.ttf') format('truetype'), url('miso/miso-bold.svg#Miso-Bold') format('svg');
}



@font-face {
	font-family: 'Whitehall';
	src: url('whitehall/whitehall.eot');
	src: local('Whitehall'), local('Whitehall'), url('whitehall/whitehall.woff') format('woff'), url('whitehall/whitehall.ttf') format('truetype'), url('whitehall/whitehall.svg#Whitehall') format('svg');
}




@font-face {
	font-family: 'YanoneKaffeesatz Thin';
	src: url('yanonekaffeesatz/yanonekaffeesatz-thin.eot');
	src: local('☺'), url('yanonekaffeesatz/yanonekaffeesatz-thin.woff') format('woff'), url('yanonekaffeesatz/yanonekaffeesatz-thin.ttf') format('truetype'), url('yanonekaffeesatz/yanonekaffeesatz-thin.svg#webfont') format('svg');
}

@font-face {
	font-family: 'YanoneKaffeesatz Regular';
	src: url('yanonekaffeesatz/yanonekaffeesatz-regular.eot');
	src: local('☺'), url('yanonekaffeesatz/yanonekaffeesatz-regular.woff') format('woff'), url('yanonekaffeesatz/yanonekaffeesatz-regular.ttf') format('truetype'), url('yanonekaffeesatz/yanonekaffeesatz-regular.svg#webfont') format('svg');
}

@font-face {
	font-family: 'YanoneKaffeesatz Bold';
	src: url('yanonekaffeesatz/yanonekaffeesatz-bold.eot');
	src: local('☺'), url('yanonekaffeesatz/yanonekaffeesatz-bold.woff') format('woff'), url('yanonekaffeesatz/yanonekaffeesatz-bold.ttf') format('truetype'), url('yanonekaffeesatz/yanonekaffeesatz-bold.svg#webfont') format('svg');
}

@font-face {
	font-family: 'YanoneKaffeesatz Light';
	src: url('yanonekaffeesatz/yanonekaffeesatz-light.eot');
	src: local('☺'), url('yanonekaffeesatz/yanonekaffeesatz-light.woff') format('woff'), url('yanonekaffeesatz/yanonekaffeesatz-light.ttf') format('truetype'), url('yanonekaffeesatz/yanonekaffeesatz-light.svg#webfont') format('svg');
}



@font-face {
	font-family: 'GentiumBookBasicRegular';
	src: url('gentium/GenBkBasR.eot');
	src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('gentium/GenBkBasR.woff') format('woff'), url('gentium/GenBkBasR.ttf') format('truetype'), url('gentium/GenBkBasR.svg#GentiumBookBasic') format('svg');
}

@font-face {
	font-family: 'GentiumBookBasicItalic';
	src: url('gentium/GenBkBasI.eot');
	src: local('Gentium Book Basic'), local('GentiumBookBasic-Italic'), url('gentium/GenBkBasI.woff') format('woff'), url('gentium/GenBkBasI.ttf') format('truetype'), url('gentium/GenBkBasI.svg#GentiumBookBasic-Italic') format('svg');
}

@font-face {
	font-family: 'GentiumBookBasicBold';
	src: url('gentium/GenBkBasB.eot');
	src: local('Gentium Book Basic'), local('GentiumBookBasic-Bold'), url('gentium/GenBkBasB.woff') format('woff'), url('gentium/GenBkBasB.ttf') format('truetype'), url('gentium/GenBkBasB.svg#GentiumBookBasic-Bold') format('svg');
}

@font-face {
	font-family: 'GentiumBookBasicBoldItalic';
	src: url('gentium/GenBkBasBI.eot');
	src: local('Gentium Book Basic'), local('GentiumBookBasic-BoldItalic'), url('gentium/GenBkBasBI.woff') format('woff'), url('gentium/GenBkBasBI.ttf') format('truetype'), url('gentium/GenBkBasBI.svg#GentiumBookBasic-BoldItalic') format('svg');
}



body {
    margin: 0;
    padding: 0;
    
    font-family: "GentiumBookBasicRegular", "Palatino", "Book Antiqua", serif;
    line-height: 1.25; /* Default is 16px on 20px */
    background-color: #EEE;
}

a:link {
    color: #F60;
}
a:visited {
    color: #930;
}
a:hover {
    color: #F60;
}
a:active {
    color: #F60;
}

em {
    font-family: "GentiumBookBasicItalic", "Palatino", "Book Antiqua", serif;
    
}

#banner {
    display: block;
    position: relative;
    width: 100%;
    min-height: 7.5em;
    margin: 0;
    padding: 0;
    
    background: #182834 url(banners/banner-2008-12-26.jpeg) left 50% no-repeat;
    border-bottom: 4px solid #123;
}

#banner b {
    font-size: 2em;
    display: block;
    padding: 0 10px;    
    
    font-weight: normal;
    font-family: "Whitehall", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #FFF;
}

#banner b a {
    color: inherit;
    text-decoration: none;
}
#banner b a:hover,
#banner b a:active {
    text-decoration: underline;
}

#banner i {
    display: block;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    font-weight: normal;
    font-family: "YanoneKaffeesatz Light", sans-serif;
    color: #FFF;
}

#banner h1 {
    font-size: 3em;
    width: 940px;
    margin: 0.3em auto -6px;
    padding: 0.1em 20px 6px;
    
    font-weight: bold;
    font-family: "YanoneKaffeesatz Bold", sans-serif;
    color: #310;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.7);
}

#page {
    width: 960px;
    margin: 0 auto 20px;
    padding: 20px 10px;
    
    background-color: #FFF;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
}

#page-after {
    clear: both;
}

#entry-body {
    display: block;
    float: left;
    width: 560px;
    margin: 0 80px 0 80px;
    padding: 0 0 3em 0;
}

#article-body {
    display: block;
    float: left;
    width: 640px;
    margin: 0 80px 0 0;
    padding: 0 0 3em 0;
}

#entry-body h1 {
    font-size: 1.5em;
    margin: 0.833em 10px 0.167em;
    padding: 0;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    line-height: 1;
    color: #600;
    background: transparent;
}

#entry-body h2 {
    font-size: 1.25em;
    margin: 1em 10px 0;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    line-height: 1;
}

#entry-body p {
    margin: 0 10px;
}

#entry-body p+p {
    text-indent: 30px;
}

#entry-body ol, 
#entry-body ul {
    margin: 0.625em 0;
    padding: 0;
}

#entry-body li {
    margin: 0.625em 10px 0.625em 40px;
    padding: 0;
}

#entry-body li p {
    margin: 0;
    text-indent: 0;
}

#entry-info {
    width: 160px;
    float: left;
    margin: 0 0 0 -720px;
}

#entry-info dl {
    margin: 0;
    padding: 0;
}

#entry-info dt {
    display: none;
    margin: 0 10px;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    color: #036;
}

#entry-info dd {
    margin: 0 10px;
    
    font-family: "YanoneKaffeesatz regular", sans-serif;
}

#entry-info img {
    display: block;
}

#entry-info ul {
    margin: 0.625em 0;
    padding: 0;
}

#entry-info li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#entry-info .permalink {
    margin: 0 10px;
}

.permalink {
    font-size: 0.69em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.permalink a {
    color: #FC6;
    text-decoration: inherit;
}
.permalink a:hover,
.permalink a:active {
    color: #F60;
    text-decoration: underline;
}

/* List of entries on a month page. This is mostly for the old-style
 entries, which are single paragraphs linking to articles. */
#entry-list {
    display: block;
    float: left;
    width: 640px;
    margin: 0 80px 0 0;
    padding: 0 0 3em 0;
}

#entry-list h2 {
    font-size: 2em;
    clear: both;
    margin: 0 10px 0.5em;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    line-height: 1;
    color: #630;
}

#entry-list h2 a {
    text-decoration: none;
    color: inherit;
}

#entry-list a.more {
    float: right;
}

#entry-list p {
    margin: 0 10px 1.25em 90px;
}

.entry-list-entry-info {
    float: left;
    width: 60px;
    margin: 0 10px;
}

.entry-list-entry-info img {
    display: block;
    width: 64px;
}

.date {
    width: 62px; /* Make the total width match the icon images */
    border: 1px solid #444;
}
.date-day {
    font-size: 2em;
    display: block;
    
    font-family: "YanoneKaffeesatz Bold", sans-serif;
    text-align: center;
    line-height: 1;
}

.date-month {
    display: block;
    padding: 0 0 0.5em 0;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    text-align: center;
    line-height: 1;
}

.permalink {
    font-family: "YanoneKaffeesatz Regular", sans-serif;
}

#entry-nav {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 240px;
}

#entry-nav h2,
#tags h2 {
    font-size: 1.25em;
    margin: 0 10px;
    padding: 0;
    
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    text-transform: uppercase;
    color: #630;
}

#entry-nav h3 {
    font-size: 1.25em;
    margin: 1em 10px 0;
    padding: 0;
    clear: both;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    color: #630;
}

#entry-nav h4,
#entry-nav h5 {
    font-size: 1em;
    margin: 0 4px;
    padding: 0 5px;
    clear: left;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    color: #630;
    background-color: rgba(255, 239, 0, 0.2);
    border: 1px solid #444;
    border-color: rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

#entry-nav ul {
    margin: 0;
    padding: 0;
}

#tags ul {
    margin: 0 10px;
    padding: 0;
}

#entry-nav li,
#tags li {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
    font-family: "YanoneKaffeesatz Regular", sans-serif;
}

#entry-nav li ul,
#tags li ul {
    float: left;
    margin: 0 4px;
    width: 220px;
    padding: 0 5px 5px;
    background-color: rgba(255, 239, 0, 0.2);
    border: 1px solid #444;
    border-color: rgba(0, 0, 0, 0.25);
    border-top: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
}


#entry-nav li li ul,
#tags li li ul {
    width: 200px;
}

#entry-nav a,
#entry-nav strong {
    display: block;
    float: left;
    padding: 2px 10px;
    text-decoration: inherit;
}

#entry-nav .w a,
#entry-nav .w strong {
    float: none;
}

#entry-nav a:hover {
    background-color: #FFF;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 3px;
} 
#entry-nav a:active {
    background-color: #FFF;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
} 

#entry-nav small {
    font-size: 0.846em;
    color: #666;
}

#entry-nav a span {
    display: block;
    font-size: 0.692em;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#tags {
    float: left;
    width: 160px;
}

#matching-entries h2 {
    font-size: 2em;
    margin: .25em 10px 0;
    
    font-family: "YanoneKaffeesatz Regular", sans-serif;
    line-height: 1;
}
#matching-entries ul {
    margin: 0;
    padding: 0;
}

#matching-entries li {
    margin: 0.625em 10px;
    list-style-type: none;
}


code {
    font-size: 0.9167em;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    /*
    font-size: 0.9167em;
    margin: 0.68em 10px;
    padding: 0.6em 10px 0.76em 19px;
    */
    font-size: 1em;
    margin: 0.625em 10px 0.625em 30px;
    padding: 0.6em 9px 0.65em 9px;
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BB0;
    border: 1px solid #BB0;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

div.image-left {
    float: left;
    margin: 0.625em 20px 0.625em 10px;
}
div.image-full-width {
    margin: 0.625em 10px;
}

div.svg embed {
    display: block;
    margin: 0 auto;
}

div.framed {
    padding: 10px 0;
    
    background-color: #FFF;
    border-radius: 0.8em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-box-shadow: #000 1px 1px 3px; 
    -webkit-box-shadow: #000 1px 1px 3px;    
}

div.framed-3u {
    width: 220px;   
}

div.framed-4u {
    width: 300px;
}