<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
<html lang="en-GB">
  <head>
    <title>{% block title %}{% endblock %} - Snaptioner - Alleged Literature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'snaptioner/snaptioner.css' %}">
    {% block metadata %}{% endblock %}
  </head>
  <body class="snaptioner {% block classes %}has-sidebar{% endblock %}">
    <div id="top">
      <h1 class="p-name">{% block heading %}Albums{% endblock %}</h1>
    </div>
    <div id="middle">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      {% block sidebar %}
      <div id="nav">
        {% block localnav %}
        {% endblock %}

        <div id="other-albums">
          <h2 class="nav-heading">Other albums</h2>
          <ul>
            {% for other in albums %}
            <li>
              {% ifequal other.name album.name %}
              <strong class="nav-album-selected">
                <b class="nav-album-title">{{ album.title }}</b>
                <span class="nav-album-metadata">{{ album|length }} photos by {{ album.photographer }}</span>
              </strong>
              {% else %}
              <a href="{% url 'album_detail' album_name=other.name %}" class="nav-album-link">
                <b class="nav-album-title">{{ other.title }}</b>
                <span class="nav-album-metadata">{{ other|length }} photos by  {{ other.photographer }}</span>
              </a>
              {% endifequal %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endblock %}
    </div>
    {% block javascript %}{% endblock %}
  </body>
</html>
