{% extends "snaptioner/base.html" %}
{% load staticfiles %}

{% block title %}{{ image.name }} - {{ album.title }}{% endblock %}
{% block heading %}Photo {{ image.name }} in {{ album.title }} Album <small>by <span class="p-author">{{ album.photographer }}</span></small>{% endblock %}

{% block metadata %}
      <meta property="og:url" content="{{ image.absolute_href }}">
      <meta property="og:title" content="Photo {{ image.name }} in {{ album.title }} Album by {{ album.photographer }}">
      <meta property="og:type" content="website">
      <meta property="og:image" content="{{ image.src }}">
      {% if image.description %}<meta property="og:description" content="{{ image.description|safe }}">{% endif %}
      <meta property="og:locale" content="en_GB">
      <meta property="og:site_name" conent="Alleged Literature Ancient Albums">
{% endblock %}

{% block classes %}has-sidebar h-entry{% endblock %}

{% block content %}
  <article class="e-content">
    <p id="the-image" class="img">
      <img src="{{ image.src }}" alt="" class="u-photo" >
    </p>
    <div id="about-the-image">
      <p class="img-description p-summary">
        {{ image.description|safe }}
      </p>
      {% if image.people %}
      <div id="people">
        <h2>People in this photo</h2>
        <ul class="img-people">
          {% for person in image.people %}
          <li>
            <i>{{ person }}</i>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </article>
{% endblock %}

{% block localnav %}
      <div id="next-prev">
        <h2>More in this album</h2>
        <ul class="nav-next-prev">
          <li class="nav-next-prev-item">
            {% if image.prev %}
            <a href="{{ image.prev.href }}" rel="prev">
              <img src="{{ image.prev.small_thumbnail_src }}" alt="Prev">
            </a>
            {% else %}
            <span>This is the first photo</span>
            {% endif %}
          </li>
          <li class="nav-next-prev-item">
            {% if image.next %}
            <a href="{{ image.next.href }}" rel="next">
              <img src="{{ image.next.small_thumbnail_src }}" alt="Next">
            </a>
            {% else %}
            <span>This is the last photo</span>
            {% endif %}
          </li>
        </ul>
        <p class="nav-backlink">
          <a class="nav-backlink-link" href="{% url 'album_detail' album_name=album.name %}">Photo list</a>
        </p>
      </div>
{% endblock %}

{% block javascript %}
{% endblock %}
